project.json
[
    {
        "id": "2df834ecf41ce103",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a55d1cc56c0b054c",
        "type": "inject",
        "z": "2df834ecf41ce103",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "fd0e599ba34c6ac3",
                "516aaef35777b349",
                "886c66e8b509894a",
                "ad54bceb2cf8e55a",
                "aa8d3022d23d9529",
                "22cbed748e891892",
                "5920437dbe394cec",
                "cd636408807eccef"
            ]
        ]
    },
    {
        "id": "a63b63f7909fd098",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\npower={{payload.features.Rilevazione-potenza.properties.Rilevazione-p}}\n}",
        "output": "str",
        "x": 970,
        "y": 40,
        "wires": [
            [
                "9dc49e5c7ae95bf6"
            ]
        ]
    },
    {
        "id": "660c1327bb3f03a7",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n    Brand: {{{payload.attributes.brand}}},\n    Model: {{{payload.attributes.model}}}\n}",
        "output": "str",
        "x": 970,
        "y": 80,
        "wires": [
            [
                "a371fe65031e3bc7"
            ]
        ]
    },
    {
        "id": "8a5f4533d43ad0bc",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "request-thing",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "454c6a921425e2b1"
            ]
        ]
    },
    {
        "id": "7fb0a56936ae3e7e",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 40,
        "wires": [
            [
                "a63b63f7909fd098"
            ]
        ]
    },
    {
        "id": "c38e4caebfee8f98",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 80,
        "wires": [
            [
                "660c1327bb3f03a7"
            ]
        ]
    },
    {
        "id": "fd0e599ba34c6ac3",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 5,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "power measurement",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "8a5f4533d43ad0bc"
            ]
        ]
    },
    {
        "id": "516aaef35777b349",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "attributes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "ce4cdd491e7bb11b"
            ]
        ]
    },
    {
        "id": "502f6305876ba8ad",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\ntemperature={{payload.features.Rilevazione-temperatura.properties.Rilevazione-t}}\n}",
        "output": "str",
        "x": 970,
        "y": 120,
        "wires": [
            [
                "2cca97fbd41db806"
            ]
        ]
    },
    {
        "id": "a50f7b8d14106c26",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 850,
        "y": 120,
        "wires": [
            [
                "502f6305876ba8ad"
            ]
        ]
    },
    {
        "id": "886c66e8b509894a",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 3,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "temperature measurement",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "timeout",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "e6cc0f098aff3208"
            ]
        ]
    },
    {
        "id": "ad54bceb2cf8e55a",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 18,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "start auto update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start auto update",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "130e9dbae5831431",
                "31d7bf6094d908ca"
            ]
        ]
    },
    {
        "id": "aa8d3022d23d9529",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 21,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "start auto graph",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "144ea5347089d245"
            ]
        ]
    },
    {
        "id": "a9a8c949cc5ffd51",
        "type": "ui_gauge",
        "z": "2df834ecf41ce103",
        "name": "potenza",
        "group": "a5e82035c016430e",
        "order": 35,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Potenza",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "className": "",
        "x": 1280,
        "y": 480,
        "wires": []
    },
    {
        "id": "144ea5347089d245",
        "type": "trigger",
        "z": "2df834ecf41ce103",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "STOP",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "95525a8a03ef0b8b",
                "f28227860be81493"
            ]
        ]
    },
    {
        "id": "22cbed748e891892",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 22,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "stop auto graph",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "144ea5347089d245"
            ]
        ]
    },
    {
        "id": "d62de4d2e6a1b93f",
        "type": "ui_chart",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 27,
        "width": 13,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fdf80f5f61aa22a4",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "update temperatura",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02/features/Rilevazione-temperatura",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "5181e7affcb82adb"
            ]
        ]
    },
    {
        "id": "e6cc0f098aff3208",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "request-thing",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "923032a933978151"
            ]
        ]
    },
    {
        "id": "ce4cdd491e7bb11b",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "request-thing",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "21e56faa915cd52c"
            ]
        ]
    },
    {
        "id": "6bf9feb4f0f0e52f",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "string update",
        "func": "var x=Math.random()*(50-20)+20;\nvar head='{\"definition\": [\"ditto.eclipseprojects:esempio01:0.01\"],\"properties\": {\"Rilevazione-t\":';\nvar tail='}}';\nmsg.payload=head.concat(String(Math.round(x)), tail);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "fdf80f5f61aa22a4"
            ]
        ]
    },
    {
        "id": "8702ddb3c39d8047",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "string update",
        "func": "var x=Math.random()*60\nvar head='{\"definition\": [\"ditto.eclipseprojects:esempio01:0.01\"],\"properties\": {\"Rilevazione-p\":';\nvar tail='}}';\nmsg.payload=head.concat(String(Math.round(x)), tail);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "a13b7b900935d477"
            ]
        ]
    },
    {
        "id": "a13b7b900935d477",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02/features/Rilevazione-potenza",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "b2e702a89e6cb6ce"
            ]
        ]
    },
    {
        "id": "2cca97fbd41db806",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "de443a2479c7f14a"
            ]
        ]
    },
    {
        "id": "130e9dbae5831431",
        "type": "trigger",
        "z": "2df834ecf41ce103",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "STOP",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "6bf9feb4f0f0e52f",
                "8702ddb3c39d8047"
            ]
        ]
    },
    {
        "id": "a371fe65031e3bc7",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "405e47a0c312bee6",
                "afc7ca2393b3a363"
            ]
        ]
    },
    {
        "id": "9dc49e5c7ae95bf6",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 40,
        "wires": [
            [
                "b0cdb1c0af962c57"
            ]
        ]
    },
    {
        "id": "5831b98b6599f4fb",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 460,
        "wires": [
            [
                "7443cb10ec85d50e"
            ]
        ]
    },
    {
        "id": "c18d61d109bcbf4e",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "a1798bd663183a95"
            ]
        ]
    },
    {
        "id": "95525a8a03ef0b8b",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "potenza",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "20ba43fe1fed2125"
            ]
        ]
    },
    {
        "id": "c9e71194259511e3",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "78c565dcd0cd2910"
            ]
        ]
    },
    {
        "id": "78c565dcd0cd2910",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n{{payload.features.Rilevazione-potenza.properties.Rilevazione-p}}\n}",
        "output": "str",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "5831b98b6599f4fb"
            ]
        ]
    },
    {
        "id": "f28227860be81493",
        "type": "http request",
        "z": "2df834ecf41ce103",
        "name": "temperatura",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://eclipseswagger.cloud.reply.eu/api/2/things/ditto.eclipseprojects%3Athing02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "e323bf441c530459"
            ]
        ]
    },
    {
        "id": "0531ac01fa351d4e",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "6ca2516e749368ed"
            ]
        ]
    },
    {
        "id": "6ca2516e749368ed",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n{{payload.features.Rilevazione-temperatura.properties.Rilevazione-t}}\n}",
        "output": "str",
        "x": 850,
        "y": 540,
        "wires": [
            [
                "c18d61d109bcbf4e"
            ]
        ]
    },
    {
        "id": "5920437dbe394cec",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 19,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "stop auto update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "130e9dbae5831431",
                "31d7bf6094d908ca"
            ]
        ]
    },
    {
        "id": "405e47a0c312bee6",
        "type": "delay",
        "z": "2df834ecf41ce103",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1360,
        "y": 160,
        "wires": [
            [
                "e84a349770c93e79"
            ]
        ]
    },
    {
        "id": "e84a349770c93e79",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "auto clear output",
        "func": "msg.payload='';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "afc7ca2393b3a363"
            ]
        ]
    },
    {
        "id": "31d7bf6094d908ca",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Update status",
        "name": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "66a88d617498635a",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: POWER",
        "name": "warning",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "c74a9df25bf73630",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: TEMPERATURE",
        "name": "warning",
        "x": 1280,
        "y": 580,
        "wires": []
    },
    {
        "id": "7443cb10ec85d50e",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "66a88d617498635a"
            ],
            [
                "66a88d617498635a"
            ],
            [
                "a9a8c949cc5ffd51"
            ]
        ]
    },
    {
        "id": "1bfdc3194342736c",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload='an error has occurred in the connection'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "f5c0699ccfe69580"
            ]
        ]
    },
    {
        "id": "923032a933978151",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"thingId\":\"ditto.eclipseprojects:thing02\",\"policyId\":\"ditto.eclipseprojects:policy01\"",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "a50f7b8d14106c26"
            ],
            [
                "1bfdc3194342736c"
            ]
        ]
    },
    {
        "id": "f5c0699ccfe69580",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "WARNING",
        "name": "",
        "x": 1060,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1798bd663183a95",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "d62de4d2e6a1b93f"
            ],
            [
                "c74a9df25bf73630"
            ],
            [
                "c74a9df25bf73630"
            ]
        ]
    },
    {
        "id": "21e56faa915cd52c",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"thingId\":\"ditto.eclipseprojects:thing02\",\"policyId\":\"ditto.eclipseprojects:policy01\"",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "c38e4caebfee8f98"
            ],
            [
                "1bfdc3194342736c"
            ]
        ]
    },
    {
        "id": "454c6a921425e2b1",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"thingId\":\"ditto.eclipseprojects:thing02\",\"policyId\":\"ditto.eclipseprojects:policy01\"",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "7fb0a56936ae3e7e"
            ],
            [
                "1bfdc3194342736c"
            ]
        ]
    },
    {
        "id": "5181e7affcb82adb",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "The page cannot be displayed",
                "vt": "str",
                "case": true
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "58a2ca0bef1cb89a"
            ],
            []
        ]
    },
    {
        "id": "b2e702a89e6cb6ce",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "The page cannot be displayed",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "58a2ca0bef1cb89a"
            ],
            []
        ]
    },
    {
        "id": "58a2ca0bef1cb89a",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload='an error has occurred in the connection'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "7fcf1e8c962350f1"
            ]
        ]
    },
    {
        "id": "7fcf1e8c962350f1",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "WARNING",
        "name": "",
        "x": 1500,
        "y": 320,
        "wires": []
    },
    {
        "id": "773b210da7b2f7a7",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload='an error has occurred in the connection'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 600,
        "wires": [
            [
                "32cc2a3eb06b76bc"
            ]
        ]
    },
    {
        "id": "32cc2a3eb06b76bc",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "WARNING",
        "name": "",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "e323bf441c530459",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"thingId\":\"ditto.eclipseprojects:thing02\",\"policyId\":\"ditto.eclipseprojects:policy01\"",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "0531ac01fa351d4e"
            ],
            [
                "773b210da7b2f7a7"
            ]
        ]
    },
    {
        "id": "20ba43fe1fed2125",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"thingId\":\"ditto.eclipseprojects:thing02\",\"policyId\":\"ditto.eclipseprojects:policy01\"",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "c9e71194259511e3"
            ],
            [
                "773b210da7b2f7a7"
            ]
        ]
    },
    {
        "id": "cd636408807eccef",
        "type": "ui_button",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 1,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "test valori critici",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "86",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "de443a2479c7f14a"
            ]
        ]
    },
    {
        "id": "b0cdb1c0af962c57",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "power filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1270,
        "y": 40,
        "wires": [
            [
                "959fd80ea43562b4"
            ],
            [
                "959fd80ea43562b4"
            ],
            [
                "affdddb29fa6755c",
                "9e5a18eeb20ab9c4"
            ]
        ]
    },
    {
        "id": "de443a2479c7f14a",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "temperature filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "c6277e9d1e4b574b"
            ],
            [
                "c6277e9d1e4b574b"
            ],
            [
                "10a8b36b684711a8",
                "a565d65432dfe1ca"
            ]
        ]
    },
    {
        "id": "959fd80ea43562b4",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: POWER",
        "name": "warning",
        "x": 1480,
        "y": 20,
        "wires": []
    },
    {
        "id": "c6277e9d1e4b574b",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: TEMPERATURE",
        "name": "warning",
        "x": 1480,
        "y": 220,
        "wires": []
    },
    {
        "id": "afc7ca2393b3a363",
        "type": "ui_text",
        "z": "2df834ecf41ce103",
        "group": "a5e82035c016430e",
        "order": 11,
        "width": 13,
        "height": 2,
        "name": "",
        "label": "Attributes:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1720,
        "y": 140,
        "wires": []
    },
    {
        "id": "affdddb29fa6755c",
        "type": "ui_text",
        "z": "2df834ecf41ce103",
        "group": "a5e82035c016430e",
        "order": 8,
        "width": 13,
        "height": 2,
        "name": "",
        "label": "Actual Power:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1740,
        "y": 40,
        "wires": []
    },
    {
        "id": "10a8b36b684711a8",
        "type": "ui_text",
        "z": "2df834ecf41ce103",
        "group": "a5e82035c016430e",
        "order": 14,
        "width": 13,
        "height": 2,
        "name": "",
        "label": "Actual Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "a565d65432dfe1ca",
        "type": "delay",
        "z": "2df834ecf41ce103",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 280,
        "wires": [
            [
                "5d4c2a53b36dd8d1"
            ]
        ]
    },
    {
        "id": "5d4c2a53b36dd8d1",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "auto clear output",
        "func": "msg.payload='';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 280,
        "wires": [
            [
                "10a8b36b684711a8"
            ]
        ]
    },
    {
        "id": "9e5a18eeb20ab9c4",
        "type": "delay",
        "z": "2df834ecf41ce103",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 80,
        "wires": [
            [
                "be1e6f17c051a679"
            ]
        ]
    },
    {
        "id": "be1e6f17c051a679",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "auto clear output",
        "func": "msg.payload='';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 80,
        "wires": [
            [
                "affdddb29fa6755c"
            ]
        ]
    },
    {
        "id": "313f60c11005b9a6",
        "type": "inject",
        "z": "2df834ecf41ce103",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "8f5562669b07ad49"
            ]
        ]
    },
    {
        "id": "8f5562669b07ad49",
        "type": "change",
        "z": "2df834ecf41ce103",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://eclipseswagger.cloud.reply.eu/api/2/things",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "6e8697949cf5f56c"
            ]
        ]
    },
    {
        "id": "6e8697949cf5f56c",
        "type": "sse-client",
        "z": "2df834ecf41ce103",
        "name": "",
        "url": "",
        "events": [
            "message"
        ],
        "headers": {
            "Authorization": "Basic ZGl0dG86ZGl0dG8="
        },
        "proxy": "",
        "restart": true,
        "rejectUnauthorized": true,
        "withCredentials": true,
        "timeout": "5",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "71bb665b93d387ae",
                "651f68c5fc73704d"
            ]
        ]
    },
    {
        "id": "71bb665b93d387ae",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "power",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "cont",
                "v": "\"\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "382933dcb460a4d7"
            ],
            []
        ]
    },
    {
        "id": "1514f702e976272d",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "60",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "92dce795ada4e8ef"
            ],
            [
                "92dce795ada4e8ef"
            ],
            [
                "34ad028eead91666"
            ]
        ]
    },
    {
        "id": "92dce795ada4e8ef",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: POWER",
        "name": "warning",
        "x": 1540,
        "y": 720,
        "wires": []
    },
    {
        "id": "34ad028eead91666",
        "type": "ui_gauge",
        "z": "2df834ecf41ce103",
        "name": "potenza SSE",
        "group": "a5e82035c016430e",
        "order": 37,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Potenza SSE",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "className": "",
        "x": 1550,
        "y": 760,
        "wires": []
    },
    {
        "id": "9450342d59f0473d",
        "type": "ui_chart",
        "z": "2df834ecf41ce103",
        "name": "",
        "group": "a5e82035c016430e",
        "order": 29,
        "width": 13,
        "height": 5,
        "label": "Temperatura SSE",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "eeda4de0601a28d2",
        "type": "ui_toast",
        "z": "2df834ecf41ce103",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "WARNING: TEMPERATURE",
        "name": "warning",
        "x": 1540,
        "y": 860,
        "wires": []
    },
    {
        "id": "0b7460fb8a6a69f3",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "20",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1390,
        "y": 820,
        "wires": [
            [
                "9450342d59f0473d"
            ],
            [
                "eeda4de0601a28d2"
            ],
            [
                "eeda4de0601a28d2"
            ]
        ]
    },
    {
        "id": "382933dcb460a4d7",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 740,
        "wires": [
            [
                "459fb7765e94a076"
            ]
        ]
    },
    {
        "id": "459fb7765e94a076",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n{{payload.features.Rilevazione-potenza.properties.Rilevazione-p}}\n}",
        "output": "str",
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "865d322b550f33a2"
            ]
        ]
    },
    {
        "id": "865d322b550f33a2",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 740,
        "wires": [
            [
                "1514f702e976272d"
            ]
        ]
    },
    {
        "id": "3f5d65ee181ce70e",
        "type": "template",
        "z": "2df834ecf41ce103",
        "name": "select",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n{{payload.features.Rilevazione-temperatura.properties.Rilevazione-t}}\n}",
        "output": "str",
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "ce9655e8a0116deb"
            ]
        ]
    },
    {
        "id": "ce9655e8a0116deb",
        "type": "function",
        "z": "2df834ecf41ce103",
        "name": "",
        "func": "msg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 820,
        "wires": [
            [
                "0b7460fb8a6a69f3"
            ]
        ]
    },
    {
        "id": "3fb6d96806c3b8e4",
        "type": "json",
        "z": "2df834ecf41ce103",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 820,
        "wires": [
            [
                "3f5d65ee181ce70e"
            ]
        ]
    },
    {
        "id": "651f68c5fc73704d",
        "type": "switch",
        "z": "2df834ecf41ce103",
        "name": "temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 820,
        "wires": [
            [
                "3fb6d96806c3b8e4"
            ],
            []
        ]
    },
    {
        "id": "3366358b21a81f50",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 2,
        "width": 14,
        "height": 1
    },
    {
        "id": "6fbd1dcf64c18396",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 6,
        "width": 14,
        "height": 1
    },
    {
        "id": "872bcaa790cd1ebc",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 7,
        "width": 14,
        "height": 1
    },
    {
        "id": "4b4d7578343a94bb",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 9,
        "width": 14,
        "height": 1
    },
    {
        "id": "f1682a3ae16d0ebf",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 10,
        "width": 14,
        "height": 1
    },
    {
        "id": "65378fb3f5f6f45d",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 12,
        "width": 14,
        "height": 1
    },
    {
        "id": "139a41cc5f0625b3",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 13,
        "width": 14,
        "height": 1
    },
    {
        "id": "277b88f3b305abd9",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 15,
        "width": 14,
        "height": 1
    },
    {
        "id": "fbdf0419aab2e21b",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 16,
        "width": 14,
        "height": 1
    },
    {
        "id": "180f90429aef9587",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 17,
        "width": 27,
        "height": 1
    },
    {
        "id": "d6d40d24b25a093b",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "f26ece38b1e0e1a0",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 23,
        "width": 14,
        "height": 1
    },
    {
        "id": "f3e72cb67a0203e6",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "52d7ce6b8e9d1d20",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 25,
        "width": 14,
        "height": 1
    },
    {
        "id": "defb1c21fe17c26f",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "690204bcceba3b53",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "58a5b0dfc11c19ab",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "476746b09dfb8283",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "402aa2f45dedfe1e",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "1269afcf53c82e14",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 34,
        "width": 4,
        "height": 1
    },
    {
        "id": "78af93c8fee90a51",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 36,
        "width": 9,
        "height": 1
    },
    {
        "id": "f71b286a5e8de0de",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 38,
        "width": 4,
        "height": 1
    },
    {
        "id": "6e699f2489d8b6dc",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 39,
        "width": 4,
        "height": 1
    },
    {
        "id": "5bf5db9cd09207f1",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 40,
        "width": 9,
        "height": 1
    },
    {
        "id": "03e709aacccfc7f6",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 41,
        "width": 4,
        "height": 1
    },
    {
        "id": "e13f7b99aea1a1f6",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 42,
        "width": 4,
        "height": 1
    },
    {
        "id": "9b868ba3343036d3",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 43,
        "width": 9,
        "height": 1
    },
    {
        "id": "a2d5a03e54d2a79b",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 44,
        "width": 4,
        "height": 1
    },
    {
        "id": "e138150a02092d0d",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 45,
        "width": 4,
        "height": 1
    },
    {
        "id": "ac5424ec38ab4bb5",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 46,
        "width": 9,
        "height": 1
    },
    {
        "id": "468ceef9254fff17",
        "type": "ui_spacer",
        "z": "2df834ecf41ce103",
        "name": "spacer",
        "group": "a5e82035c016430e",
        "order": 47,
        "width": 4,
        "height": 1
    },
    {
        "id": "a5e82035c016430e",
        "type": "ui_group",
        "name": "1 test",
        "tab": "d4aa43164bff797d",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": true,
        "className": ""
    },
    {
        "id": "d4aa43164bff797d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]